body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #667eea, #764ba2);
}

.App {
  max-width: 900px;
  margin: 40px auto;
  padding: 30px;
  background: white;
  border-radius: 12px;
  text-align: center;
}

.login-container {
  max-width: 350px;
  margin: 120px auto;
  padding: 30px;
  background: white;
  border-radius: 12px;
  text-align: center;
}

input, select {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

button {
  padding: 10px;
  background: #667eea;
  color: white;
  border: none;
  border-radius: 6px;
}

.user-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 6px;
}

.error { color: red; }
.success { color: green; }

.switch span {
  color: blue;
  cursor: pointer;
}